.pb-10,
.pt-10,
.pr-10,
.pb-10,
.pl-10 {
  padding: 10px;
}
.p-20,
.pt-20,
.pr-20,
.pb-20,
.pl-20 {
  padding: 20px;
}
.p-30,
.pt-30,
.pr-30,
.pb-30,
.pl-30 {
  padding: 30px;
}
.p-40,
.pt-40,
.pr-40,
.pb-40,
.pl-40 {
  padding: 40px;
}
.p-50,
.pt-50,
.pr-50,
.pb-50,
.pl-50 {
  padding: 50px;
}
.p-60,
.pt-60,
.pr-60,
.pb-60,
.pl-60 {
  padding: 60px;
}
.p-70,
.pt-70,
.pr-70,
.pb-70,
.pl-70 {
  padding: 70px;
}
.p-80,
.pt-80,
.pr-80,
.pb-80,
.pl-80 {
  padding: 80px;
}
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Roboto, "Open Sans", sans-serif;
}

nav {
  position: static;
  display: flex;
  justify-content: space-between;
  border-style: groove;
  border-width: 0px 0px 1px;
  border-color: #cec5c5;
  padding: 0.75rem 11.6rem 0.5rem;
  align-items: center;
}

.logo {
  height: 50px;
  width: 86px;
  display: flex;
  align-items: center;
}

.menu li a {
  text-decoration: none;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
#menu1:hover,
#menu2:hover,
#menu3:hover,
#menu4:hover {
  color: #108a00;
}
.left-nav {
  display: flex;
  gap: 47px;
  font-size: 16px;
  align-items: center;
}
.right-nav {
  display: flex;
  gap: 20px;
}
.search {
  position: relative;
}
#search-icon {
  position: absolute;
  left: 16px;
  top: 11px;
  color: #3a3737;
}

.search input {
  padding: 0.6rem 3rem;
}
::placeholder {
  font-size: 17px;
}
#textbox {
  font-size: 15px;
  border-radius: 33px;
  border-color: #c0b0b0;
  border-width: 1px;
}
.login {
  display: flex;
  gap: 25px;
}
#login {
  background-color: transparent;
  border: none;
  font-size: 17px;
  color: #003200;
  font-weight: 500;
}
#login:hover {
  cursor: pointer;
}
#signup:hover {
  background-color: #14a800;
  color: #fff;
  cursor: pointer;
}
#signup {
  background-color: #108a00;
  color: #fff;
  padding: 2px 22px;
  border-radius: 43px;
  font-size: 15px;
  border: none;
}
.sub-menu {
  padding: 1.2rem 10.3rem 0.7rem;
}
.sub-menu a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 15px;
}
#sub-menu1:hover,
#sub-menu2:hover,
#sub-menu3:hover,
#sub-menu4:hover,
#sub-menu5:hover {
  color: #108a00;
  text-decoration: underline;
}
#btn:hover {
  background-color: #14a800;
  color: #fff;
  cursor: pointer;
}
#btn {
  background-color: #108a00;
  color: #fff;
  padding: 3px 6px;
  border-radius: 43px;
  font-size: 18px;
  border: none;
  width: 34%;
  height: 45px;
}
.container {
  max-width: 1276px;
  display: block;
  margin: 0 auto;
}
.first-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}
.left-container h1 {
  color: #14a800;
  font-size: 73px;
  font-family: "Noto Serif", serif;
  line-height: 84px;
}
.left-container p {
  font-size: 22px;
  line-height: 29px;
  color: #5e6d55;
}

.right-container img {
  width: 440px;
  height: 300px;
  display: flex;
  padding: 1.2rem 5.7rem 0 0;
}
#trusted_by {
  color: #9aaa97;
  font-weight: 500;
  font-size: 17px;
  padding-top: 50px;
}
.companylogo {
  height: 73px;
  display: flex;
  gap: 40px;
}
.companylogo img {
  padding: 11px 0 23px;
}
.second-banner {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.right-2nd-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.right-2nd-banner h3 {
  color: #001e00;
  font-size: 36px;
  font-weight: 600;
  font-family: "Noto Serif Khojki", serif;
  line-height: 64px;
}
.right-2nd-banner p {
  font-size: 27px;
  line-height: 35px;
  color: #5e6d55;
}

.left-2nd-banner img {
  width: 505px;
  height: 370px;
  display: flex;
  padding: 1.2rem 2rem 0 0;
  border-radius: 10px;
}
#learn-btn {
  background-color: #fff;
  color: #108a00;
  padding: 3px 38px;
  border-radius: 43px;
  font-size: 16px;
  border: none;
  width: 33%;
  height: 45px;
  border: solid;
  border-width: 2px;
}
#learn-btn:hover {
  cursor: pointer;
}
.post,
.pin,
.badge {
  display: flex;
  gap: 15px;
}
.post i,
.pin i,
.badge i {
  font-size: 25px;
  color: #001e00;
}
.post-input h4,
.pin-input h4,
.badge-input h4 {
  color: #064006;
  font-size: 21px;
  font-weight: 500;
}
.post-input p,
.pin-input p,
.badge-input p {
  font-size: 15px;
  color: #726565;
}
.second-banner-btn {
  display: flex;
  gap: 20px;
}
.category-title h3 {
  color: #001e00;
  font-size: 37px;
  font-weight: 600;
  font-family: "Noto Serif Khojki", serif;
  line-height: 100px;
  margin-top: 47px;
}
.category-title p {
  font-size: 16px;
  color: #726565;
}
.category-title a {
  font-size: 16px;
  color: #108a00;
}
.category-title:hover a {
  color: #14a800;
}
.development,
.services,
.design,
.sales,
.writing,
.admin,
.finance,
.engineering {
  background-color: #f5f9f5;
  height: 65px;
  width: 261px;
  padding: 26px 20px 52px;
  font-size: 22px;
  border-radius: 13px;
  margin-bottom: 34x;
}
.development:hover,
.services:hover,
.design:hover,
.sales:hover,
.writing:hover,
.admin:hover,
.finance:hover,
.engineering:hover {
  background-color: #e4ebe4;
}

.development h4,
.services h4,
.design h4,
.sales h4,
.writing h4,
.admin h4,
.finance h4,
.engineering h4 {
  font-size: 21px;
  color: #001e00;
  font-family: "Mulish", sans-serif;
  margin-bottom: 19px;
}
.development-values,
.services-values,
.design-values,
.sales-values,
.writing-values,
.admin-values,
.finance-values,
.engineering-values {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 17px;
}
.development-values i,
.services-values i,
.design-values i,
.sales-values i,
.writing-values i,
.admin-values i,
.finance-values i,
.engineering-values i {
  color: #14a800;
}
.development-values p,
.services-values p,
.design-values p,
.sales-values p,
.writing-values p,
.admin-values p,
.finance-values p,
.engineering-values p {
  color: #584e4e;
}
.cat-body1,
.cat-body2 {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.third-banner {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.left-3rd-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  background: #015c56;
  border-radius: 10px 0 0 10px;
  padding-right: 233px;
}
.left-3rd-banner h4 {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
.left-3rd-banner h1 {
  line-height: 75px;
}
.left-3rd-banner span {
  color: #fff;
  font-size: 49px;
  font-family: "Noto Serif", serif;
  font-weight: 400;
}
#diff-color {
  color: #91e6b3;
  font-size: 49px;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  line-height: 56px;
}

.left-3rd-banner p {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
#third-banner-btn {
  background-color: #fff;
  color: #13544e;
  border-radius: 43px;
  font-size: 17px;
  font-weight: 500;
  width: 27%;
  height: 44px;
  border: transparent;
}
#third-banner-btn:hover {
  cursor: pointer;
}
.left-sub-point1,
.left-sub-point2,
.left-sub-point3 {
  display: flex;
  gap: 15px;
}
.left-sub-point1 i,
.left-sub-point2 i,
.left-sub-point3 i {
  font-size: 18px;
  color: #91e6b3;
}

.left-sub-point1 p,
.left-sub-point2 p,
.left-sub-point3 p {
  font-size: 18px;
  color: #fff;
}
.right-3rd-banner img {
  width: 100%;
  height: 590px;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
.fourth-banner {
  background-image: url(/assets/banner4.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  margin-top: 65px;
}
.para-4th-banner {
  padding: 20px 40px 0 40px;
}
.para-4th-banner h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding-top: 20px;
}

.para-4th-banner h1 {
  color: #fff;
  font-size: 73px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  line-height: 4rem;
  margin-top: 6rem;
}
.para-4th-banner p {
  font-size: 19px;
  line-height: 1.5rem;
  color: #fff;
  width: 37%;
  padding: 40px 0;
}
.card-4th-banner {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px;
}
.card1,
.card2,
.card3 {
  background-color: #108a00;
  height: 54px;
  width: 227px;
  padding: 27px 121px 70px 25px;
  font-size: 22px;
  border-radius: 8px;
  line-height: 45px;
}
.card1:hover,
.card2:hover,
.card3:hover {
  background-color: #ffffff;
}
.card1 a,
.card2 a,
.card3 a {
  text-decoration: none;
}
.card1 h2,
.card2 h2,
.card3 h2 {
  color: #fff;
  line-height: 32px;
  font-family: roboto;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
}
.card1:hover h2,
.card2:hover h2,
.card3:hover h2 {
  color: #108a00;
  line-height: 32px;
  font-family: roboto;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
}

.card1:hover span,
.card2:hover span,
.card3:hover span {
  color: #108a00;
}
.card1:hover sup,
.card2:hover sup,
.card3:hover sup {
  color: #108a00;
}
.card1:hover i,
.card2:hover i,
.card3:hover i {
  color: #108a00;
}
.card-p {
  margin-top: 6px;
}
.card-p span {
  color: #fff;
  font-size: 18px;
}
.card-p:hover span {
  color: #108a00;
  font-size: 18px;
}
.card-p sup {
  color: #fff;
  font-size: 9px;
}
.card-p:hover sup {
  color: #108a00;
}
.card-p i {
  color: #fff;
  font-size: 18px;
  margin-left: 11px;
}
.card-p:hover i {
  color: #108a00;
  font-size: 18px;
  margin-left: 11px;
}
.fivth-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  position: relative;
}
.left-5th-banner {
  background-color: #f2f7f2;
  border-radius: 10px;
  padding: 2.5rem;
  width: 60%;
}
.right-5th-banner {
  background-color: #14a800;
  border-radius: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.right-5th-banner-content {
  margin: 0 0 38px 85px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.girldancing img {
  position: absolute;
  top: 51px;
  right: 17%;
  width: 369px;
  height: 546px;
  transform: rotate(-7deg);
}

.left-5th-banner h1 {
  color: #001e00;
  font-size: 64px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  line-height: 4.4rem;
  margin-top: 2.8rem;
}

.quality,
.nocost,
.safe {
  display: flex;
  gap: 15px;
}
.quality i,
.nocost i,
.safe i {
  font-size: 25px;
  color: #385038;
}
.quality-input h4,
.nocost-input h4,
.safe-input h4 {
  color: #220e0e;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.quality-input p,
.nocost-input p,
.safe-input p {
  color: #677478;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}
.left-5th-banner-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  width: 60%;
}
.right-5th-banner h4 {
  color: #fff;
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 35px;
}
.rating,
.award {
  display: flex;
  gap: 15px;
}
.rating i,
.award i {
  font-size: 30px;
  color: #fff;
}
.rating-input h4,
.award-input h4 {
  color: white;
  font-size: 32px;
  font-size: 40px;
}
.rating-input p,
.award-input p {
  color: white;
  font-size: 16px;
  line-height: 30px;
}

footer {
  background-color: #001e00;
  margin: 53px 179px;
  border-radius: 10px;
}
.footer-column-header {
  margin-bottom: 25px;
  font-size: 15px;
}
.footer-column-content {
  line-height: 30px;
}
.footer-ul {
  list-style: none;
}
.footer-li a {
  text-decoration: none;
  font-size: 14px;
}
.footer-li:hover a {
  text-decoration: underline;
}
.up-footer-social {
  margin: 60px 0 60px 98px;
  position: relative;
  padding-bottom: 10px;
  border: solid;
  border-width: 0 0 0.5px;
  border-color: #bbafaf;
}
.right-footer-social {
  position: absolute;
  right: 3px;
}

.footer-social-header {
  margin: 4px 20px 0 0;
  font-size: 15px;
  font-weight: 700;
}
.footer-social-icon {
  margin-right: 5px;
}

.footer-li a,
.footer-column-header,
.footer-social-header,
.footer-copy,
.footer-bottom-list a {
  color: white;
}

.footer-columns {
  justify-content: center;
  gap: 11rem;
}

.left-footer-social,
.right-footer-social,
.bottom-footer-container,
.up-footer-social,
.footer-columns {
  display: flex;
}

.bottom-footer-container {
  margin: 60px 0 0px 98px;
  gap: 40px;
}
.footer-bottom-a {
  text-decoration: none;
  margin-right: 15px;
}
.footer-copy,
.footer-bottom-a {
  font-size: 15px;
}
.footer-bottom-a:hover {
  text-decoration: underline;
}
